/* global styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style global minimal */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #111827;
  margin: 0;
}
